# =========================================================================
# CONFIGURACIÓN DEL SERVICIO DE SINCRONIZACIÓN ASPEL SAE 9.0 ➔ SUPABASE
# =========================================================================

# 1. Configuración de Base de Datos Firebird (SAE)
# Ruta absoluta al archivo .FDB activo en el servidor
SAE_FDB_PATH=C:\Program Files (x86)\Common Files\Aspel\Sistemas Aspel\SAE9.00\Empresa03\Datos\SAE90EMPRE03.FDB

SAE_DB_HOST=127.0.0.1
SAE_DB_PORT=3050

# Credenciales del usuario con permisos de lectura (SELECT)
SAE_DB_USER=USER_WEB_SYNC
SAE_DB_PASSWORD=contrasena_segura

# 2. Configuración de Conexión a la Nube (Supabase)
SAE_SUPABASE_URL=https://jfhlqjjohozmrpjhbskr.supabase.co
SAE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmaGxxampvaG96bXJwamhic2tyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTgyMzY1NCwiZXhwIjoyMDk1Mzk5NjU0fQ.0_tU7sS3sTlEzrlCSy2sT8ItUFsrCdIdGqVCwx7-egg

